.components-listitem {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
  text-indent: 10px;
  cursor: pointer;
}
.components-listitem .delete {
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 3px;
  position: relative;
  transform: rotate(45deg);
  margin-right: 15px;
}
.components-listitem .delete::before,
.components-listitem .delete::after {
  content: '';
  display: block;
  background: #666;
  position: absolute;
}
.components-listitem .delete::before {
  width: 100%;
  height: 1px;
  top: 14px;
  left: 0;
}
.components-listitem .delete::after {
  height: 100%;
  width: 1px;
  left: 15px;
  top: 0;
}
.components-listitem.focus {
  color: #2f9842;
}
.components-listitem:hover {
  background: #eee;
}
